{{>layout/header}}

<h1>BOJ BREAKER - UOS</h1>
<div class="problems-test">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>티어</th>
            <th>맞은 사람</th>
            <th>평균 시도 횟수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#problems}}
            <tr>
                <td>{{code}}</td>
                <td><a href="https://www.boj.kr/{{code}}">{{title}}</a></td>
                <td>{{tier.title}}</td>
                <td>{{acCnt}}</td>
                <td>{{acRate}}</td>
            </tr>
        {{/problems}}
        </tbody>
    </table>
</div>

{{>layout/footer}}